.nav-link{
    padding-left:300px;
    font-size: large;
  
}
.images>p{
    position: absolute;
    top: 100px;
    margin-left: 200px;
    font-size: larger;
    font-weight: 400;
    font-size: x-large;
    }
    